[submodule "scientific-thesis-cover"]
	path = scientific-thesis-cover
	url = https://github.com/Eyenseo/scientific-thesis-cover
[submodule "listings-rust"]
	path = listings-rust
	url = https://github.com/Eyenseo/listings-rust.git
